/* app css stylesheet */

html, body {
	height:100%;
}
.skrollr-desktop body {
	height:100% !important;
}

.cover{
    color: rgb(255, 255, 255);
    height: 100%;
    background: url("../images/backgroundImage1.jpg") no-repeat  0px -200px;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
 
nav ul li {
  list-style:none;
  float:left;
  margin-right:50px;

}

.cover-text {

}

.vcenter {
    vertical-align: middle;
    float: none;
}

.fs {height: 100vh;}
.br {min-height: 60vh;}

/* =Simple animation up */
/* =Simple animation up */
.slideInUp {
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease-out;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
.is-active .slideInUp {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slideInUp.slideInUp2 {
  transition-delay: 0.2s;
}
.slideInUp.slideInUp3 {
  transition-delay: 0.4s;
}

.cover{
    color: rgb(255, 255, 255);
    height: 100%;
    background: url("../images/backgroundImage1.jpg") no-repeat  0px -200px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: 'Paytone One';
  font-size: 140px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 100px;
}
h2 {
  font-family: 'Paytone One';
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 100px;
}
h3 {
  font-family: 'Paytone One';
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}
p {
  font-family: 'Paytone One';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
blockquote {
  font-family: 'Paytone One';
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
pre {
  font-family: 'Paytone One';
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

/* =Navigation */
nav {
  display: block;
  position: fixed;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: right;
  z-index: 100; }
  nav a {
    display: block;
    line-height: 25px;
    position: relative;
    padding-right: 20px;
    color: #ffffff;
    text-decoration: none; }
    nav a:hover .nav-label {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
      visibility: visible; }
  nav .nav-dot {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 100%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 0.3s linear;
            transition: all 0.3s linear; }
  nav .nav-label {
    display: block;
    opacity: 0.5;
    visibility: hidden;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
    -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
            transition: all 0.2s cubic-bezier(.17, .67, .83, .67); }
  nav.is-dark a {
    color: #212121; }
  nav.is-dark .nav-dot {
    background-color: rgba(0, 0, 0, 0.5); }
  nav.is-light a {
    color: #ffffff; }
  nav.is-light .nav-dot {
    background-color: rgba(255, 255, 255, 0.5); }
  nav ul {
    margin: 0;
    padding: 0; }
  nav li {
    width: auto;
    list-style: none; }
