extends layout

block body
  nav(style="display:none")
    ul
      li
        a(href="#Home") 
          span.nav-dot
          span.nav-label Into
        a(href="#AboutME") 
          span.nav-dot
          span.nav-label About Me
        a(href="#Projects") 
          span.nav-dot
          span.nav-label Projects
        a(href="#ContactMe") 
          span.nav-dot
          span.nav-label Contact Me
  article#slide01.slide.fs.cover
    div.row(style="height:100%")
      .col-md-6(style="background-color:rgba(0,0,0,.90); height:100%;")
        p(style="margin-top:40%; font-size:80px; text-align:center;")
          h1.text-center(typewrite text="'YAW'")
        br
        h3.slideInUp.slideInUp2(style="font-size:25px; text-align:center;") Full Stack Software Developer
      div.slideInUp.slideInUp3(style="width:200px;position:absolute;left: 50%;margin-left: -100px;bottom:12.5%; color:white;text-align:center;") 
        p SCROLL DOWN
        img(src="images/scrolldown.png")
  article#slide02.slide.br(style="background-color: #f1f1f1;")
    div
      header
        br
      section
        .container
          h2.text-center.slideInUp ABOUT ME
          .row
            .col-md-4.text-center
              img.slideInUp.slideInUp2(src="images/Code-Optimization-64x64.png")
              br
              br
              h4.text-center.slideInUp.slideInUp2 Development
              br
              p.slideInUp.slideInUp3.
                I make creations with #[b AngularJS], IONIC Framework and HTML5 supported by NodeJS or PHP backends. I also have experience incorperating database layers such as MySQL and MongoDB into my projects.
            .col-md-4.text-center
              img.slideInUp.slideInUp2(src="images/multy-user-64x64.png")
              br
              br
              h4.text-center.slideInUp.slideInUp2 Collaberation
              br
              p.slideInUp.slideInUp3 I am passionate about contributing to group projects. I am an active hackathon participant. 
            .col-md-4.text-center
              img.slideInUp.slideInUp2(src="images/Music-note-5-64x64.png")
              br
              br
              h4.text-center.slideInUp.slideInUp2 Music
              br
              p.slideInUp.slideInUp3 I am an avid music listener and love expressing myself through my own productions. I produce music recreationally using Ableton Live. 
          br
          br
  article#slide03.slide.fs(style="background:#2F2F2F")
    div(style="color:white")
      header
        br
        h2.text-center.slideInUp I'VE WORKED ON
      section
        .container.text-center
          h3.slideInUp.slideInUp2 PONG INFINTY
          br
          .row.slideInUp.slideInUp3
            .col-md-8
              img(src="images/ponginfinity.png", width="100%")
            .col-md-4
              p.text-left Pong with a twist. Realtime pong multiplayer for up to 8 people at once, taking place on a circular court rather than a rectangular one. Submitted to VTHacks.
          br
          p.slideInUp.slideInUp3
            a(href="https://github.com/yasabere/pongInfinity") View Code
  article#slide03.slide.fs(style="background:#3F3F3F")
    div(style="color:white")
      header
        br
      section
        .container.text-center
          h3.slideInUp.slideInUp2 TEMPLE UNIVERSITY PA POLICY PROJECT
          br
          .row.slideInUp.slideInUp3
            .col-md-8
              img(src="images/ppdpapp.png", width="100%")
            .col-md-4
              p.text-left Front end application designed to provide the Temple University PA Policy Project with a content management system with a user a Gmail style driven user experience.
          br
          p.slideInUp.slideInUp3
            a(href="https://github.com/yasabere/ppdpApp") View Code
          br
          br
          br
  div(style="background:#1F1F1F; min-height:40px")
    br
    .container(style="color:white")
      span 2016 @ Yaw Asabere
    br
    br

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='bower_components/angular-typewrite/dist/angular-typewrite.js')
  
  script(src='js/app.js')
  
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='bootstrap/js/bootstrap.min.js')

  script(src='bower_components/scrollmagic/scrollmagic/minified/ScrollMagic.min.js')
  script(src='bower_components/scrollmagic/scrollmagic/minified/plugins/debug.addIndicators.min.js')
  script(src='js/custom.js')