!!!
html(ng-app="myApp")
  head(profile="http://www.w3.org/2005/10/profile")
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    base(href='/')
    title Yaw Asabere
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='icon', type="image/png", href="images/favicon.png")
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='bower_components/angular-typewrite/dist/angular-typewrite.css')
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Paytone+One')
    != LRScript
  body
    block body
